button {
  background: linear-gradient(89.02deg, #6226d9 0.89%, #8c52ff 100%) !important;
  // border-color: darkgoldenrod;
  border-radius: 10px;
  margin: 5px;
  min-width: 200px;
  margin: 12px;
}

.bg-color {
  min-height: 100%;
  max-width: 100%;
  background-color: rgb(59, 65, 72);
}

.btn:focus {
  outline: none !important;
}

.tokenstats_first {
  height: 100%;
  box-shadow: 8px 0 24px rgb(0 0 0 / 16%), 4px 0 16px rgb(0 0 0 / 8%);
  position: fixed;
  z-index: 99;

  background-color: rgb(59, 65, 72);
  .btn {
    padding: 6px 12px;
    font-size: 14px;
  }
}

.tokenstats_second {
  padding-left: 34%;
  min-height: 800px;

  background-color: rgb(59, 65, 72);
}
.bg-color {
  min-height: 125%;
}
.staking {
  margin-top: 25%;
}

@media (max-width: 991px) {
  .staking {
    margin-top: 5%;
  }

  .tokenstats_first {
    position: relative;
    box-shadow: none;
    margin-left: 0px;
  }

  .tokenstats_second {
    padding-left: 10px;
  }
}
