<ng-container *ngIf="loading">
    <div class="loader-container">
        <!-- <div id="circle">
            <div class="loader">
                <div class="loader">
                    <div class="loader">
                        <div class="loader"> </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="main-loader">
            <mat-spinner class="mat-spinner-color"></mat-spinner>
            <h1 class="spinner-text">Please wait...</h1>
        </div>        
    </div>
</ng-container>