p,
span,
div {
  color: #fff;
}

h1 {
  line-height: normal;
}

.bg-color {
  min-height: 100%;
  max-width: 100%;
  background-color: rgb(59, 65, 72);
}

.line-splitter {
  margin-bottom: 20px;

  margin-top: 20px;
  border-bottom: 2px solid grey;
}

.info_title {
  margin: 50px;
  font-size: 30px;
  font-weight: 500;
  color: #ccbfff;
}

.title {
  padding-top: 5%;
  padding-bottom: 3%;
  text-align: left;
  color: #f1f1f1;
  padding-left: 0px;
  font-weight: 900;
  font-size: 30px;
}

.tab {
  width: 100%;
}

.logo {
  font-size: 40px;
  padding: 10px;
}

.mat-tab-label {
  color: rgb(255 255 255 / 87%) !important;
}

.btn:focus {
  outline: none !important;
}

.tokeninfo-first {
  height: 100%;
  box-shadow: 8px 0 24px rgb(0 0 0 / 16%), 4px 0 16px rgb(0 0 0 / 8%);
  position: fixed;
  z-index: 99;
}

.tokeninfo-second {
  padding-left: 34%;
}

.smart {
  margin: 60px 160px;
}

.liquidity {
  display: flex;
}

.link {
  font-size: 20px;
  border-radius: 10px;
}

@media (max-width: 992px) {
  .title {
    padding-left: 25%;
  }

  .tokeninfo-first {
    padding-left: 0 !important;
    padding-right: 0 !important;
    box-shadow: none;
    position: relative;
    margin-left: 0px;
  }

  .smart {
    margin: 10px;
  }

  .liquidity {
    display: inline-block;
  }

  .tokeninfo-second {
    padding-left: 0;
  }
}

.tab-button {
  border-radius: 10px;
  margin: 5px;
  width: 50%;
  margin: 12px;
  padding: 6px 12px;
  font-size: 14px;
  margin-left: 25%;
}

.content_button {
  border-radius: 10px;
  // margin: 20px;
  font-size: 15px;
  width: 90%;
}

.tab {
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 0 15px 8px #292a29;
  margin-bottom: 26px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  transition: all 0.7s ease-in-out;
  cursor: pointer;
  color: #ffffff;

  @media (min-width: 1601px) {
    width: 83%;
  }

  @media (max-width: 991px) {
    margin-left: auto !important;
  }

  &:hover {
    box-shadow: 0 0 20px 6px #8c52ff;
    text-decoration: none;
  }

  .tab-button {
    margin: 0px 0 20px;
    min-width: 130px;
    width: 130px;
  }
}

.plus-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);

  .svg-inline--fa {
    width: 30px;
    height: 30px;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
  }
}

.trippy-box {
  width: 100%;
  height: 471px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-height: 100%;
  }

  @media (max-width: 767px) {
    height: auto;
  }

  @media (min-width: 992px) and (max-width: 1300px) {
    height: 335px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .tab {
    width: 60% !important;
    margin-left: 20% !important;
    margin-right: 20% !important;
  }
}

.tab-button {
  background: linear-gradient(89.02deg, #6226d9 0.89%, #8c52ff 100%) !important;
  // border-color: darkgoldenrod;
  border-radius: 10px;
  min-width: 150px;
  width: 150px;
  padding: 6px 12px;
  font-size: 14px;
  margin: 12px;
}

.tealcolor {
  background: #0096a1 !important;
  border-color: #0096a1 !important;
}

.modal-content {
  box-shadow: 0 0 15px 8px #292a29;
  background: #3b4148;
  padding: 20px;
  border-radius: 30px;

  .modal-body {
    padding: 0px;

    .modal-body-inner {
      flex-wrap: wrap;
      justify-content: center;

      ol {
        padding-left: 15px;
        margin-top: 1rem;

        li {
          text-align: left;
          margin-bottom: 15px;
        }
      }
    }
  }
}

.mintmodal {
  .modal-dialog {
    max-width: 400px;

    .modal-header {
      margin-bottom: 1rem;
    }

    .modal-body-inner {
      justify-content: space-between;
    }

    .modal-footer {
      flex-wrap: nowrap;
      justify-content: center;
    }

    .tab-button {
      min-width: 100px;
      max-width: 100px;
      margin-bottom: 0;
    }
  }
}

.modal-footer {
  border: none;

  .tab-button {
    border: none;
  }
}

.sync-icon {
  position: absolute;
  right: 15px;
  top: 20px;
  color: #ffffff;
  margin: 0 !important;
  border: none;
  min-width: 1px;
  border-radius: 5px;
  height: 22px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(89.02deg, #6226d9 0.89%, #8c52ff 100%) !important;
}

.notallowed {
  cursor: not-allowed !important;
  //opacity: 0.5;
  pointer-events: none;
}

.clr-white {
  color: white;
}

.bg-nft-box {
  background-image: linear-gradient(rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.9)), url(https://i.imgur.com/0BRq1K2.jpg);
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

.fs-20 {
  font-size: 30px;
}

.fs-30 {
  font-size: 30px;
}

.fw-900 {
  font-weight: 900;
}

.nft-img {
  border-radius: 10px;
  width: 250px;

  img {
    object-fit: contain;
  }
}

.lh-3 {
  line-height: 3rem;
}

@media only screen and (min-width: 319px) and (max-width: 767px) {
  .bg-nft-box {
    height: 100%;
    padding: 25px 0;

    .nft-img {
      margin: 10px auto;
    }
  }
}