.btn:focus {
  outline: none !important;
}

.tab-button {
  background: linear-gradient(89.02deg, #6226d9 0.89%, #8c52ff 100%) !important;
  // border-color: darkgoldenrod;
  border-radius: 10px;
  margin: 5px;
  min-width: 200px;
  margin: 12px;
  padding: 6px 12px;
  font-size: 14px;
}

.bg-color {
  min-height: 100%;
  max-width: 100%;
  background-color: rgb(59, 65, 72);
}

.dashboard-first {
  height: 100%;
  box-shadow: 8px 0 24px rgb(0 0 0 / 16%), 4px 0 16px rgb(0 0 0 / 8%);
  position: fixed;
  z-index: 99;
}

.dashboard-second {
  padding-left: 31.5%;
  padding-right: 4%;
}

.pr_button {
  margin-top: 25%;
}

@media (max-width: 991px) {
  .pr_button {
    margin-top: 5%;
  }

  .dashboard-first {
    position: relative;
    box-shadow: none;
    margin-left: 0px;
  }

  .dashboard-second {
    padding-left: 4%;
  }
}
.white-color {
  p {
    color: #ffffff;
  }
}

.active-tab {
  background: #0096a1 !important;
  background-color: #0096a1 !important;
  border-color: #0096a1 !important;
}
