<!-- <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head> -->
<div class="container-fluid bg-color">

    <div class="row content">

        <div class="col-lg-3 reservation-first">
            <div style="display: grid; justify-content: center;">
                <button type="button" class="btn btn-primary tab-button all_reser" (click)="allSlots()">All Reservation
                    Slots</button>
                <!-- <button type="button" class="btn btn-primary tab-button" (click)="fixedSlots()">Fixed Supply
                    Slots</button>
                <button type="button" class="btn btn-primary tab-button" (click)="randomSlots()">Extreme Supply
                    Slots</button> -->
            </div>
        </div>

    </div>

    <div class="col-lg-12 reservation-second">
        <!-- <h1 class="reservation-title"></h1> -->
        <div class=" personal">
            <!-- <img style="width: 250px" src="../../../assets/logo.png"> -->
            <!-- <i class="fas fa-coins personal_icon"></i> -->
            <label class="personal_title">Grise Token Reservation</label>
        </div>

        <div class="itemdiv" style="padding-top: 94px;">
            <div *ngFor="let slot of filterSlots">
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 itemcard">
                    <div class="card product_item cell">
                        <div class="body">
                            <div class="cp_img">

                                <p class="btn  btn-sm waves-effect time truncate" style="margin: 0;">{{
                                    slot.startDate |
                                    date }} day#{{slot.day}}</p>
                                <a class="btn  btn-sm waves-effect time truncate" style="margin: 0;">{{slot.hours}}-hour
                                    reservation slot #{{slot.id}}</a>
                                <p class="snd truncate">{{slot.name}} GRISE </p>
                                <div class="hover">
                                    <div style="display: flex">
                                        <div class="section">
                                            <i class="fa fa-user" [style.color]="slot.color" aria-hidden="true"
                                                style="font-size:40px"></i>

                                            <h4>{{slot.slotLeft}}</h4>
                                            <h4>Slots Left</h4>

                                        </div>
                                        <div class="line"></div>
                                        <!-- <div class="vl"></div> -->
                                        <div class="section">
                                            <i class="fab fa-ethereum" [style.color]="slot.color"
                                                style="font-size: 40px"></i><br>

                                            <h4>{{slot.totalInvest | number:'1.0-5'}}</h4>
                                            <h4>Total BNB</h4>

                                        </div>
                                    </div>

                                    <form #f="ngForm" (ngSubmit)="reserveClick(slot, f)">
                                        <div
                                            style="display: flex; padding-left:8px; padding-right: 8px;padding-top: 20px">

                                            <input type="number" class="form-control"
                                                style="width: 90%;margin-left: 5%;border-radius: 6px;background-color: #e7e7e7;"
                                                id="slotAmount" name="slotAmount"
                                                placeholder="Enter BNB (Min: 0.5 BNB)" min="0.5" required
                                                [disabled]="slot.isExpired" ngModel #slotAmount="ngModel">

                                        </div>

                                        <button type="submit" class="btn btn-primary reservation-button"
                                            [disabled]="checkValueWithBalance(slot, f)"
                                            [style.background-color]="slot.color">{{ slot.validationText ?
                                            slot.validationText : 'Reserve Grise' }}</button>

                                    </form>
                                    <!-- <br> -->

                                    <button type="submit" class="btn btn-primary reservation-button" data-toggle="modal"
                                        [style.background-color]="slot.color" (click)="nftButton(slot.id)"
                                        data-target="#exampleModal">NFT</button>


                                    <!-- <button style="background-color: transparent;border: none;" data-toggle="modal"
                                        data-target="#exampleModal">
                                        <img style="width: 10%;border-radius: 50%;" src="../../../assets/NFT_Icon.png">
                                    </button> -->


                                    <div style="color: black;" class="modal fade" id="exampleModal"
                                        data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header"
                                                    style="background-color: #6610f2;color: white;">
                                                    <h5 class="modal-title" style="margin: 0;font-size: 27px;"
                                                        id="exampleModalLabel">
                                                        NFT</h5>

                                                </div>
                                                <div class="modal-body" style="text-align: left;">
                                                    <div class="nftmodal" style="display: flex;">
                                                        <div class="model_img_box modal_nft_img">
                                                            <img class="model_img" src={{nftImg}}>
                                                        </div>
                                                        <div>
                                                            <div class="description">
                                                                <p class="text_paragraph">
                                                                    {{nftdetail}}
                                                                </p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer" style="padding:0; margin:0">
                                                    <button type="button" class="model_btn btn btn-primary btn-close"
                                                        data-dismiss="modal" (click)="nftCloseButton()">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="btn  btn-sm waves-effect time truncate"
                                        style="margin: 8px;margin-bottom: -20px;">
                                        <i class="fa fa-clock"></i>
                                        {{ (slot.isExpired ? '' : 'closing in ') + slot.timeLeft }}

                                    </a>
                                    <!-- <h4>26  </h4>  -->
                                    <div class="bar-pro"></div>
                                    <a class="progress">
                                        <a class="progress-bar" role="progressbar"
                                            [attr.aria-valuenow]="slot.progressDone" aria-valuemin="0"
                                            aria-valuemax="100" [style.width.%]="slot.progressDone"
                                            [style.background-color]="slot.color"></a>
                                    </a>


                                    <div class="price" style="display: flex">
                                        <div style="width: 50%">
                                            <span class="old_price">Your Share</span><br>
                                            <span class="new_price">{{ slot.mySharePercent }}</span>
                                        </div>
                                        <div style="width: 50%">
                                            <span class="old_price">Contribution</span><br>
                                            <span class="new_price">{{slot.myContribution | number:'1.0-5'}}
                                                BNB</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>