<div class="container-fluid bg-color px-0 video-part">
  <div class="content_video ml-auto">
    <div class="row h_custom_100">
      
      <!-- <div class="col-lg-12 "> -->
      <div class="w-100 h_custom_100 position-relative">
        <video loop muted autoplay class="homeBgVideo" oncanplay="this.play()" onloadedmetadata="this.muted = true">
          <source src="../../../assets/homepage-new.mp4" type="video/mp4" />
        </video>

        <a
          href="../../../assets/website-terms-grise.pdf"
          target="_blank"
          class="disclamir-btn tealcolor btn"
          >Disclosure</a
        >
      </div>
      <div class="video_side_content">
        <div class="left-scroll text-left">

          <div class="home-logo">
           
              <!-- <a routerLink="" class=""><img src="../assets/Green_logo.png"></a> -->
              <div class="heading_btn">
            <h1 class="nfsize">THE OWL STORY</h1>
            <a class="btn btn-primary pancakeswap" href="assets/Beyond-Owls-White-Paper.pdf" target="_blank">
              White Paper
            </a>
          </div>
            <p>This tale begins over 500 years ago where a mystical and magical mineral was consumed by 30 owls. After the ritual the owls began to gain an intelligence far exceeding anyone’s expectations, but there was more. The owls acquired supernatural strength, their physical bodies capable of awe-inspiring feats, they flew high above the sky, far beyond the eyes, higher and higher.</p>
            <p>The owls were unstoppable, they were compelled to find a land so different to the one that they used to call home. That’s when they came upon the moon, a gray celestial body suspended in space with craters far as the eye could see. This would be home, a rearing ground, an owl’s dream for breeding. The original owls, the forefathers eventually disappeared, to a mythical land on the dark side of the moon where no one goes. However, their legacy remains, it still thrives 500 years later to this day as the population of the owls on the moon grew. Now 500 years later, there are over 500 owls that exist today that live on different lands on the moon.</p>
              <p>The owls ferociously work from their lands releasing innovative and technologically advanced products from the ‘Owl Lab’ which are utilized by other owls on the moon so that they can flourish and succeed on their lands. It’s rumored that their greatest invention yet ‘The Owl Platform’ which is a price prediction platform for crypto currency, is soon to be released that will forever change the way moon trading works.</p>
              <p>This is the beginning, the first of many inventions to come from the owls who are advancing and innovating at an extraordinary rate. Be sure to check out the “The Owl Lab” for new, unique and ingenious releases from the owls.</p>
            <div class="text-center">
            <!-- <a class="btn btn-primary pancakeswap" >Enter App</a> -->
            </div>
          </div>
          <div class="info-sec mb-4">
            <h2 class="nfsize2">The Owl Vision</h2>
            <div class="row align-items-center">
              <div class="col-md-12">
              <p>Beyond Owls is a metaverse on the moon that incorporates NFT’s, P2E gaming, Staking, Lands and an AI price prediction model known as the ‘The Owl Platform’. We constantly try to bring innovative technology to our community that will be released consistently in “The Owl Lab”. Since the start of our journey, we have taken every step with community at the forefront of our mind, because without them the adventure cannot take place.</p>

              <p>The first invention in the “Owl Lab” is “The Owl Platform” followed by the “Owly Birds” game which will be released quite quickly in the “Owl Lab” with reward distribution for leaderboard scorers which will be followed with further releases.</p>
              <p>We take great pride in developing a supportive and inclusive core community that we will cultivate daily. As an Owl holder you will be part of a great journey and an epic adventure. We will quest into hidden lands of the moon to uncover great mysteries while expanding this ecosystem.</p>
              </div>
              
            </div>
          </div>
          <!-- <div class="info-sec mb-4">
            <h2 class="nfsize2">Owl Map</h2>
            <div class="row align-items-center">
              <div class="col-md-12">
              <p>As a team our belief has always been to under promise and over deliver. We believe structure must be balanced with a heuristic approach. Our idea is to provide value to collectors through surprise mystery and rewards. As a team our goal is to delight our collectors. You can expect more of this as we journey through each adventure!</p>
              </div>
              
            </div>
          </div> -->
          <div class="info-sec mb-4">
            <h2 class="nfsize2">Technology</h2>
            <div class="row align-items-center">
              <div class="col-md-12">
                <a href="assets/AI-Story-Page.pdf"  target="_blank" class="btn btn-primary pancakeswap story_btn" >AI story</a> 
              </div>
              
            </div>
          </div>

          <!-- <div class="info-sec mb-4">
            <h2 class="nfsize2">Conclusion</h2>
            <div class="row align-items-center">
              <div class="col-md-12">
                <p>Result</p>
                <p>The team created the fully ready working solution for Cryptocurrency price prediction within four weeks.</p>
                <p>The main challenges were:</p>
                <p>Research and selection of the optimal model architecture for Cryptocurrency price prediction within this solution.</p>
                <p>Improving prediction quality, optimizing time and resources for model training and real-time prediction. In the results we observed a variance of accuract between 40%- 73%  accuracy of prediction.</p>
                <p> To demonstrate the capabilities of this solution both to specialists in AI and to investment market traders as well as to those interested in investing in this project, our platform is available for member of our token and NFT holders.</p>
              </div>
              
            </div>
          </div> -->
          <div class="info-sec custom_img mb-5">
            <h2 class="nfsize2">The Owl Lab</h2>
            <div class="row">
                        <div class="col-md-12 col-lg-4">
              
              <img src="assets/technology.png" class="img-responsive"/>
              <a href="/#/AI" class="btn btn-primary pancakeswap story_btn text-center">The Owl AI Platform</a>
            </div>
          </div>
            </div>
          <div class="info-sec mb-4">
            
            <h2 class="nfsize2">The Owls are working hard for you. Double the APYs for all NFT holders! Quantity (500)</h2>
            <div class="row align-items-center mb-2">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <img src="assets/thumb_1.jpg" class="img-responsive"/>
                  </div>
                   <div class="col-md-4 mb-3">
                    <img src="assets/thumb_3.jpg" class="img-responsive"/>
                  </div>
                  <div class="col-md-4 mb-3">
                    <img src="assets/thumb_2.jpg" class="img-responsive"/>
                  </div>
                 
                </div>
              </div>
            </div>
            <div class="info-sec mb-4">
              
              <!-- <div class="row align-items-center">
                <div class="col-md-4">
                  <div class="row align-items-center">
                    <div class="col-md-4 mb-3">
                      <img src="https://www.linkpicture.com/q/bronze.png" class="img-responsive">
                    </div>
                  </div>
                  <span class="legnd-text">Common</span>
                </div>
                <div class="col-md-4">
                  <div class="row align-items-center">
                    <div class="col-md-4 mb-3">
                      <img src="https://www.linkpicture.com/q/gold_4.png" class="img-responsive">
                    </div>
                  </div>
                  <span class="legnd-text">Legendary</span>
                </div>
                <div class="col-md-4">
                  <div class="row align-items-center">
                    <div class="col-md-4 mb-3"><img src="https://www.linkpicture.com/q/silver_3.png" class="img-responsive">
                    </div>
                  </div>
                  <span class="legnd-text">Rare</span>
                </div>
              </div> -->
              <div  class="row align-items-center">
                <div  class="col-md-4">
                  <div  class="row align-items-center">
                    <div  class="col-md-4 mb-3">
                      <img  src="https://www.linkpicture.com/q/bronze.png" class="img-responsive">
                    </div>
                    <div  class="col-md-4 mb-3 legnd-text">Common</div>
                  </div>
                </div>
                <div  class="col-md-4">
                  <div  class="row align-items-center">
                    <div  class="col-md-4 mb-3">
                      <img  src="https://www.linkpicture.com/q/silver_3.png" class="img-responsive">
                    </div>
                    <div  class="col-md-4 mb-3 legnd-text">Rare</div>
                  </div>
                </div>
                <div  class="col-md-4">
                  <div  class="row align-items-center">
                    <div  class="col-md-4 mb-3">
                      <img  src="https://www.linkpicture.com/q/gold_4.png" class="img-responsive">
                    </div>
                    <div  class="col-md-4 mb-3 legnd-text">Legendary</div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <!-- <div class="info-sec mb-4">
            <h2 class="nfsize2">Mythic: qty 30</h2>
            <div class="row align-items-center">
              <div class="col-md-12 ">
                <div class="row align-items-center">
                <div class="col-md-6 mb-3">
                  <img src="assets/technology.png" class="img-responsive"/>
                </div>
                <div class="col-md-6 mb-3">
                  <img src="assets/logo_new.gif" class="img-responsive"/>
                </div>
                </div>
              </div>
            </div>
          </div> -->
          <div  class="info-sec mb-4">
            <div  class="row align-items-center">
              <div  class="col-md-12">
                <div  class="row align-items-center">
                  <div  class="col-md-2 mb-3">
                    <img  src="https://www.linkpicture.com/q/logo_new_part1.gif" class="img-responsive img-width">
                  </div>
                  <div  class="col-md-6 mb-3 mythic">Mythic: Quantity 30  - </div>
                  <div  class="col-md-6 mb-3 mythic1">Mythic: Quantity 30</div>
                  <div  class="col-md-4 mb-3 logo2"><img  src="https://www.linkpicture.com/q/logo_new_part2.gif" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="info-sec mb-4">
            <div class="d-flex justify-content-start align-items-center flex-column policy-ids">
              <h3 class="mb-0">Verified by <a href="https://cnft.io/" target="_blank" class="text-white"><u>cnft.io</u> </a></h3>
              <span>
                <img src="../../../assets/yellow-batch.svg" class="batchicon"/>
              </span>
            </div>
            <div class="d-flex justify-content-start align-items-center flex-column policy-ids">
              <h3 class="mb-0">Verified by <a href="https://www.jpg.store/" target="_blank" class="text-white"><u>jpeg.store</u> </a></h3>
              <span>
                <img src="../../../assets/blue-batch.svg" class="batchicon"/>
              </span>
            </div>
          </div> -->
          <!-- <div class="info-sec mb-4">
            <h2 class="nfsize2">Verified policy Ids</h2> 
        <h3 class="mb-0">Trippy Owl Policy ID: <span class="policyidstext">ca30fb2d5a3af8498a9ee034685476a7f35c4f0bafd92f342a892f1a</span></h3> 
        <div class="d-flex justify-content-start align-items-center flex-column policy-ids">
          <h3 class="mb-0">Legacy NFT Policy IDs: </h3>
          <a class="btn btn-primary pancakeswap" href="javascript:void(0)" data-toggle="modal"
          data-target="#policy">Click Here</a>
        </div>
            
          </div> -->

          <!-- <div class="info-sec mb-4">
        <div class="d-flex justify-content-start  flex-column policy-ids">
          <h2 class="mb-0 mr-3 normal-line">Roadmap: </h2>
          <p>Join our discord for current development we are working on few things in tandem and will keep announcing our current development on our discord.
          </p>
          
        </div>
          <div class="d-flex justify-content-center">
            <img src="../../../assets/grise-moonmap.png" class="img-responsive roadmapimage" />
          </div>  
          </div> -->
        <!-- <h2 class="home_text mb-0">Welcome to</h2>
        <h1 class="mb-0">Grise Metamoonverse</h1>
        <hr class="hr_css" />
        <h5 style="text-align: center">
         
          Grise meta moonverse is based on land on the moon entirely. All of the
          moon will be divided into 10,000 pieces of 69.09 acre lands. These
          lands can be owned by anyone. On the land you can merge with Our head
          NFts . And create a base, these head NFts we intend on making them
          intelligent.
          <br />
          If you own a GRSE mythic NFT you will automatically be given Land. The
          rest of the pieces of land will be listed on sale in our marketplace.
          Incrementally more piece will be released for your land and more
          information will be announced on how these bases can get setup.
        </h5> -->

        
        <br />
        <!-- <div style="font-size: 15px" class="newtitleres">
          best place for the Crypto World for money making decisions
        </div> -->

        
        

        <!-- <h1 class="get_start_heading">Get Started Now</h1>
        <div class="row">
          <div class="col-md-12 mx-0 mt-0 p-0">
            <div class="col-sm-12">
              <button
                type="button"
                routerLink="/roadmap"
                queryParamsHandling="merge"
                class="btn btn-primary tab-button pr_button"
              >
                Roadmap
              </button>
            </div>
            <div class="col-sm-12">
              <a
                class="btn btn-primary pancakeswap tealcolor"
                href="/nft"
                >MINT</a
              >
            </div>

            <div class="col-sm-12">
              <a class="btn btn-primary pancakeswap" href="https://forms.sendpulse.com/6d3584fad8/" target="_blank"
                >Subscribe</a
              >
            </div>
          </div>
        </div> -->
        <!-- <div class="row">
          <div class="col-md-12">
            <h2 class="nfsize2">Copy Grise Token Address For Pancake</h2>

            <div #container>
              <button
                class="token_address"
                ngxClipboard
                [cbContent]="'0xb359e4290573a3974616b7c26ea86939689b9ec4'"
                [container]="container"
              >
                Click here to Copy 0xb359e4290573a3974616b7c26ea86939689b9ec4
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <a
              class="twitter-share-button"
              target="_blank"
              href="https://twitter.com/intent/tweet?text=You%20can%20earn%20tokens%20through%20there%20marketing%20campaign%20by%20clicking%20here%20https%3A//t.me/Grise_Marketing_bot%20%0A%0AJust%20join%20https%3A//grise.finance%20they%20have%20NFTs%20for%20cardano%20with%20utility%20going%20live%20on%20November%205th.%20And%20a%20full%20AI%20Price%20prediction%20platform.&hashtags=nft%2Cnfts%2Cnftart%2Ccnft%2Cnftartist"
            >
              <img
                class="twitter-share-button-img"
                src="../assets/twit.png"
              />Tweet</a
            >
          </div>
        </div> -->
      </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>


<!-- Ids popup -->
<div
  class="modal fade"
  id="policy"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
  >
  <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h3 class="modal-title mb-0 text-center">
            Legacy NFT Policy IDs
           </h3>
           <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              >
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <div class="modal-body-inner d-flex justify-content-start" style="height: 250px; overflow-y: auto;">
              <ul>
                <li>c30daacecc6161354e8f659a17455a8d83c90cb53296d69cc55f30a0</li>
                <li>6f1ded6a68495834893121928798ae55f8429dcbe7d6f03de0da2907</li>
                <li>3caedd9b1c58641de68020c21c54c67d67f2a2c7fea6d8ca0f3ec2f0</li>
                <li>3126e011103e275531ba70f4f0d828b35c9fc138fe154f63cebeaadb</li>
                <li>ed49e050b9bba670ecbe8c40bb2a1041d00a926cc1cda9de102114db</li>
                <li>886855e9c50087226164a68db9a2ab3d8df2efa60aed80904a8de340</li>
                <li>df2b72480174a5ef046e9cca2e89e87a185f4f9e91e2285aa04da53c</li>
                <li>e88c7c813848a36484af933c43ef4e6b6766fa942ed7882d2d40a555</li>
                <li>86fdd412cd7373fcab109560037aa77b3809d550909995f59833f5b7</li>
                <li>8c8858c6eda39a5460dc2c1a8515872ff4be57cafb41c57dc2920415</li>
                <li>daa59c51d1a752114cb97d45a6e6a2b84a84998bd731a2909e37b200</li>
                <li>3f2d72c4f1e281b9b9072a42c42a523b0c56b39b47eeb3116d0089b9</li>
                <li>09715194260df1a27fff45e3c8cc22f324b0d7e26d161b7ef2fe8cfc</li>
                <li>8c6e540d8f80f0bb4f3a455744868cefb4c97948163e1a7be96fc52e</li>
                <li>50171841fedb63ec94a7425d9333d797c452ee631025e022cc6d911d</li>
                <li>4d69a4aaf03522d4943a7e20924b84cafc16e10b679274b5de7d4809</li>
                <li>82687c0be066d191a5acc020aa7545697a14165ceec2f942e56d8f92</li>
                <li>0d206afa88c466482b0e93d24ef176651ad07e47bafc482f0f540504</li>
                <li>4c2df178fc104590ef6e87676e8015d521d36ed44871f2de5c64e75b</li>
                <li>6bf516bfb81caebf050361d6db8f6d5a397217f0eaa05b5f5b0f7d35</li>
                <li>4a26afe3142ea0044d7a85f6d412ddc7202eb7a9b138c0966b33613c</li>
                <li>02dfc77226fcc7d418bf40d0feb758193c0ae746cc6b5bdb6fc268c4</li>
                <li>be4cbb8e02f8beba904ca2e7b8d83b70bbb24efb849d67e75d219cf8</li>
                <li>cba39d15be8e430a74d8cd712954600953b22a75739ed504afcb6f82</li>
                <li>363f03aa5f4b49f591918381e355844e7fc7e7cdef809bfeacd1c443</li>
                <li>43cadb4ff00223fc2c678889a34bc7da4f48db79028b968a9a6e556b</li>
                <li>5955f2ad97c4c6cb20fe9c8e8d2725387fb775fbb156a0fa0a38833d</li>
                <li>950d3c6b2d7e1660ac8464b7a7c1a5119842dffc046e09fc552960e0</li>
                <li>e0f09c8b367f493ccaf4de31545d59ffaa67315efb40ed2ae477506d</li>
                <li>52e9289a2b7b58d2140ceb03fee910ef43476ebfbdef662a0f1bc502</li>
                <li>3fe96b4d19af4eb3bcb904770a8a788617baa9304e45d69ec8b3dd8c</li>
                <li>9cbb09ddf3379b1e2577a04b7a6dbfaf044b6be2e127c6c7ab1b8253</li>
                <li>6aa77593dfbd5c29bb4683068089ca103a7179f23adbcffd0676d1a0</li>
                <li>b915c3e62e5ea2f550321302b9770a358715eca28930c613ecd41c02</li>
                <li>db0defc7913ef460a9193f0bd211c67031b3c31f77cdaa4f21d18e21</li>
                <li>0848f483d631279948a3c4d2fb1c6179b5c88f823c35516a11ed394c</li>
                <li>4f56561213e5a1952586a682a9cc0427004637ebe19940aa1b0e4d7d</li>
                <li>03b5dd63d9030b580d2ff41b642ee3325a5d31c1460e1f1d1083619f</li>
                <li>1a8f753cd661d04611714b5088a86917f60c26529c2edf66e9c7d389</li>
                <li>d0fc0ca5d7c6093045e08d4234d28aac0420322b6088f792aa2b9843</li>
                <li>b28227824f725f051b2e69fb092f53714bd7c7ddf32f17eb4f5e3894</li>
                <li>13cbdd985963b09a0427d0280246a2ac75610f05275501e6ba1b59b6</li>
                <li>2fd58a9f27b4e3510285838f0b691b9807818a5376580a290ca559a1</li>
                <li>6b362592171088019440a2daa493333c2eb2248b046df6b107054b2d</li>
                <li>56cd617296aff69dcff340db80614476f9d4f35427a3fe6c9a5dc001</li>
                <li>2cca00495e7f0fd4165535775acc94e522b083bc89195d688a175c3f</li>
                <li>b12c972a700364504b3036fa80fbe0e425f7959df51d527ddaafd6d9</li>
                <li>35fa14c0167496ab3ab43c6e70a18b47c918d8393d9c91124706e268</li>
                <li>67387c7abe1711e294d09892ad3e0d49f7ad713ab5c3197a6eadf595</li>
                <li>95d65dc5525c08ed9ecc748d890946b63871bf4278e6a1b60aa03757</li>
                <li>e7ee6e69e7c5d1da6bd1013ac63b7501ed4290e26b7ff5d6361a5c50</li>
                <li>9d09dbf51f7ef5d3523ce7ea278a99393f5dbf3bba32cbfa2e679efb</li>
                <li>7bfbbdc011dd0ab58a5bfe77a1eb96d2ca5fed1f3536fda22ad1c3a5</li>
                <li>044bb2d7d83f1bc7131e8bef947132d75f7c78f6202733c8c26e339a</li>
                <li>ca4fd5c13af26a7a64f7191796eb46fdd5a5b2cb5f667d346642fbe5</li>
                <li>2169e14c0db8f7d0d5989381d96ca73329d64e7304add2aea70039f2</li>
                <li>d11813ed546ee8d196f1d9779c9cdce2ff7c344aab1c86d50725c0b0</li>
                <li>4e22d342f6bce54f9e4f564875f354e9c355f310f234ffb6a679170a</li>
                <li>2247bba59005946356710a64c8e054e2924667c8de2943ba716ebcd2</li>
                <li>c173d00382758cce7b3d1a6dbbc63735d50223a0bb021a650b4121a7 (443 NFT's legacy collection)</li>
              </ul>
            </div>
           
        </div>
        <div class="modal-footer justify-content-center">
           <button
           type="button"
           class="tab-button"
           data-dismiss="modal"
              aria-label="Close"
           >
           Close
           </button>
        </div>
     </div>
  </div>
</div>

<!-- conformation modal -->
<div
  class="modal fade mintmodal"
  id="claimconfirm"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModaltwo"
  aria-hidden="true"
  
  >
  <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
        <div class="modal-header border-0 mb-0">
           <h3 class="modal-title mb-0">
            Are you sure you want to  Claim ?
           </h3>
           
        </div>
        <div class="modal-footer">
           
          
           <button
              type="button"
              class="tab-button"
              data-dismiss="modal"
              aria-label="Close"
              >
           Cancel
           </button>
           <button
           type="button"
           class="tab-button"
           (click)="clickMint()"
           data-dismiss="modal"
           aria-label="Close"
           >
        Confirm
        </button>
        </div>
     </div>
  </div>
</div>