
<div class="container">
    <div class="row full-height">
        <div class="col-md-6 col-lg-6">
            <div class="tab flex-column align-items-center">
                <form>
                    <div class="mb-5">
                        <label for="Username" class="form-label">Amount</label>
                        <input type="text" class="form-control" id="Username" aria-describedby="Username" [(ngModel)]="inputValue" id="inputValue" name="inputValue">
                        
                    </div>
                    <!-- <div class="mb-5">
                        <label for="exampleInputEmail1" class="form-label">Password</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div> -->
                    <button type="submit" class="btn btn-primary tab-button" (click)="confirmpopup()"> Withdraw Grise Wallet Amount</button>
                </form>
                
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <button class="btn btn-primary tab-button" (click)="getBalance()">Get Balance</button>
            <p class="text-white">Available Balance: <span *ngIf="hidezero">0</span>{{availablebalance}} ADA</p>
            <p class="text-white">Total Balance: <span *ngIf="hidezero">0</span>{{totalbalance}} ADA</p>
        </div>
    </div>
</div>


<!-- conformation modal -->
<div
  class="modal fade mintmodal"
  id="exampleModaltwo"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModaltwo"
  aria-hidden="true"
  
  >
  <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
        <div class="modal-header border-0">
           <h3 class="modal-title mb-0">
            Are you sure you want to withdraw available Amount?
           </h3>
           
        </div>
        <div class="modal-footer border-0">
           <button
              type="button"
              class="tab-button"
              data-dismiss="modal"
              aria-label="Close"
              >
           Cancel
           </button>
           <button
              type="button"
              class="tab-button"
              data-dismiss="modal"
              aria-label="Close"
              (click)="withdrawGrise()"
              >
           Confirm
           </button>
        </div>
     </div>
  </div>
</div>