<div class="container-fluid bg-color">
  <div class="row content">
    <!-- Road Map section -->
    <div class="col-md-12">
      <div class="infoBox_wrapper infoBox-wrapper--first">
        <h1 class="pb-5 headings_info">Grise Road Map</h1>
        <div class="d-flex flex-wrap justify-content-center">
          <!-- old Road Map -->
          <!-- <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                <div class="mb-1 timeline_dates">Nov2020-Jan2021</div>
                <ul class="timeline_content_font">
                  <li>Data scraping</li>
                  <li>Platform Development</li>
                </ul>
              </h4>
            </div>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                <div class="mb-1 timeline_dates">Jan2021-Feb2021</div>

                <ul class="timeline_content_font">
                  <li>Grise Contract Development</li>
                  <li>Testing</li>
                  <li>Platform Improvement</li>
                </ul>
              </h4>
            </div>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                <div class="mb-1 timeline_dates">Mar2021-May2021</div>

                <ul class="timeline_content_font">
                  <li>Improving Algorithm for accuracy for our AI platform</li>
                  <li>Grise contract launch on BSC</li>
                  <li>Contract Audit</li>
                </ul>
              </h4>
            </div>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                <div class="mb-1 timeline_dates">June2021-Aug2021</div>

                <ul class="timeline_content_font">
                  <li>Money Flow Indicator Completion</li>
                  <li>Price Prediction Completion</li>
                  <li>Technical Indicator Completion</li>
                  <li>Trending AI Index Completion</li>
                  <li>Google Trend Feature Completion</li>
                  <li>New Feed Completion</li>
                </ul>
              </h4>
            </div>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                <div class="mb-1 timeline_dates">20 October</div>

                <ul class="timeline_content_font">
                  <li>Initial AI Index Release</li>
                </ul>
              </h4>
            </div>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                <div class="mb-1 timeline_dates">5 November</div>

                <ul class="timeline_content_font">
                  <li>NFT Release on Cardano</li>
                </ul>
              </h4>
            </div>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                <div class="mb-1 timeline_dates">Oct2021-Nov2021</div>

                <ul class="timeline_content_font">
                  <li>Price Prediction Platform Launch</li>
                  <li>Cardano NFT Launch</li>
                  <li>Caradano Cross Chain Bridging</li>
                </ul>
              </h4>
            </div>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                <div class="mb-1 timeline_dates">1 December 2021</div>

                <ul class="timeline_content_font">
                  <li>First AI Image Merger Dream nft Platform Release</li>
                </ul>
              </h4>
            </div>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                <div class="mb-1 timeline_dates">Dec2021-Jan2022</div>

                <ul class="timeline_content_font">
                  <li>Different Indicators Launch</li>
                  <li>NFT Game development</li>
                </ul>
              </h4>
            </div>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                <div class="mb-1 timeline_dates">Jan2022-March2022</div>

                <ul class="timeline_content_font">
                  <li>Mobile App Development and Launch</li>
                </ul>
              </h4>
            </div>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                <div class="mb-1 timeline_dates">Apr2022-Aug2022</div>

                <ul class="timeline_content_font">
                  <li>Stripe payment integration</li>
                  <li>NFT Game Launch</li>
                </ul>
              </h4>
            </div>
          </div>

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                <div class="mb-1 timeline_dates">Apr2022-Aug2022</div>

                <ul class="timeline_content_font">
                  <li>Stripe payment integration</li>
                  <li>NFT Game Launch</li>
                </ul>
              </h4>
            </div>
          </div>

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                <div class="mb-1 timeline_dates">Apr2022-Aug2022</div>

                <ul class="timeline_content_font">
                  <li>Stripe payment integration</li>
                  <li>NFT Game Launch</li>
                </ul>
              </h4>
            </div>
          </div>

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                <div class="mb-1 timeline_dates">Apr2022-Aug2022</div>

                <ul class="timeline_content_font">
                  <li>Stripe payment integration</li>
                  <li>NFT Game Launch</li>
                </ul>
              </h4>
            </div>
          </div> -->

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                <div class="mb-1 timeline_dates">Released</div>

                <ul class="timeline_content_font">
                  <li>
                    Grise setup of staking pools for bsc contract and launch
                  </li>
                </ul>
              </h4>
            </div>
          </div>

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                <div class="mb-1 timeline_dates">Released</div>

                <ul class="timeline_content_font">
                  <li>
                    Research and development of AI platform that became
                    available for stakers
                  </li>
                </ul>
              </h4>
            </div>
          </div>

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                <div class="mb-1 timeline_dates">November</div>

                <ul class="timeline_content_font">
                  <li>Launch of Grise nft marketplace and moon metaverse</li>
                </ul>
              </h4>
            </div>
          </div>

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                <div class="mb-1 timeline_dates">
                  December- further announcements about the AI Platform
                </div>

                <ul class="timeline_content_font">
                  <li>
                    Launch of Moon dashboard on our platform for land holders,
                    Grise token launch on Cardano.
                  </li>
                </ul>
              </h4>
            </div>
          </div>

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                <div class="mb-1 timeline_dates">
                  Release of Automated AI trading bot for stakers and NFT
                  holders. January
                </div>

                <ul class="timeline_content_font">
                  <li>
                    Release of different characters on the moon land and
                    different merging mechanics to make your moon land stronger.
                  </li>
                </ul>
              </h4>
            </div>
          </div>
        </div>
        <!-- <div style="display: inline-block; overflow-y: auto">
          <ul class="timeline timeline-horizontal">
            <li class="timeline-item">
              <div class="timeline-badge primary"><i class=""></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">
                    <div class="mb-1 timeline_dates">Nov2020-Jan2021</div>
                    <ul class="timeline_content_font">
                      <li>Data scraping</li>
                      <li>Platform Development</li>
                    </ul>
                  </h4>
                </div>
              </div>
            </li>
            <li class="timeline-item">
              <div class="timeline-badge success"><i class=""></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">
                    <div class="mb-1 timeline_dates">Jan2021-Feb2021</div>

                    <ul class="timeline_content_font">
                      <li>Grise Contract Development</li>
                      <li>Testing</li>
                      <li>Platform Improvement</li>
                    </ul>
                  </h4>
                </div>
              </div>
            </li>

            <li class="timeline-item">
              <div class="timeline-badge"><i class=""></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">
                    <div class="mb-1 timeline_dates">Mar2021-May2021</div>

                    <ul class="timeline_content_font">
                      <li>
                        Improving Algorithm for accuracy for our AI platform
                      </li>
                      <li>Grise contract launch on BSC</li>
                      <li>Contract Audit</li>
                    </ul>
                  </h4>
                </div>
              </div>
            </li>
            <li class="timeline-item">
              <div class="timeline-badge"><i class=""></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">
                    <div class="mb-1 timeline_dates">June2021-Aug2021</div>

                    <ul class="timeline_content_font">
                      <li>Money Flow Indicator Completion</li>
                      <li>Price Prediction Completion</li>
                      <li>Technical Indicator Completion</li>
                      <li>Trending AI Index Completion</li>
                      <li>Google Trend Feature Completion</li>
                      <li>New Feed Completion</li>
                    </ul>
                  </h4>
                </div>
              </div>
            </li>
            <li class="timeline-item">
              <div class="timeline-badge"><i class=""></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">
                    <div class="mb-1 timeline_dates">20 October</div>

                    <ul class="timeline_content_font">
                      <li>Initial AI Index Release</li>
                    </ul>
                  </h4>
                </div>
              </div>
            </li>
            <li class="timeline-item">
              <div class="timeline-badge"><i class=""></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">
                    <div class="mb-1 timeline_dates">5 November</div>

                    <ul class="timeline_content_font">
                      <li>NFT Release on Cardano</li>
                    </ul>
                  </h4>
                </div>
              </div>
            </li>

            <li class="timeline-item">
              <div class="timeline-badge"><i class=""></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">
                    <div class="mb-1 timeline_dates">Oct2021-Nov2021</div>

                    <ul class="timeline_content_font">
                      <li>Price Prediction Platform Launch</li>
                      <li>Cardano NFT Launch</li>
                      <li>Caradano Cross Chain Bridging</li>
                    </ul>
                  </h4>
                </div>
              </div>
            </li>
            <li class="timeline-item">
              <div class="timeline-badge"><i class=""></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">
                    <div class="mb-1 timeline_dates">1 December 2021</div>

                    <ul class="timeline_content_font">
                      <li>First AI Image Merger Dream nft Platform Release</li>
                    </ul>
                  </h4>
                </div>
              </div>
            </li>
            <li class="timeline-item">
              <div class="timeline-badge"><i class=""></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">
                    <div class="mb-1 timeline_dates">Dec2021-Jan2022</div>

                    <ul class="timeline_content_font">
                      <li>Different Indicators Launch</li>
                      <li>NFT Game development</li>
                    </ul>
                  </h4>
                </div>
              </div>
            </li>
            <li class="timeline-item">
              <div class="timeline-badge"><i class=""></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">
                    <div class="mb-1 timeline_dates">Jan2022-March2022</div>

                    <ul class="timeline_content_font">
                      <li>Mobile App Development and Launch</li>
                    </ul>
                  </h4>
                </div>
              </div>
            </li>
            <li class="timeline-item">
              <div class="timeline-badge"><i class=""></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">
                    <div class="mb-1 timeline_dates">Apr2022-Aug2022</div>

                    <ul class="timeline_content_font">
                      <li>Stripe payment integration</li>
                      <li>NFT Game Launch</li>
                    </ul>
                  </h4>
                </div>
              </div>
            </li>
          </ul>
        </div> -->
      </div>

      <div
        class="d-flex align-items-center justify-content-center mb-5 medium-box"
      >
        <p class="mb-0">Follow us on medium for further announcements</p>
        <a href="#" class="medium-logo ml-5"></a>
      </div>
    </div>
  </div>
</div>
