<div style="background-color: rgb(59, 65, 72);">


  <div class="personal header_div">
    <i class="fas fa-user-friends personal_icon header_icon"></i>
    <label class="personal_title header_title">Personal Referrals</label>

  </div>

  <div class="sub-end-part">
    
    <div>


      <div class="row maintab">
        <div class="col-xl-6 col-md-12 col-xs-12 tab">
          <span style="padding-left:10%">
            <h1 style="color: white" class="h1_span">
              Referral Amount :
              {{personalReferralData.referralAmount | number:'1.0-5'}} BNB
              <!-- {{accountNo}} -->
            </h1>
          </span>
        </div>



        <div class="extra_spc" style="display: none;"></div>

        <div class="col-xl-6 col-md-12 col-xs-12 tab">
          <span style="padding-left:10%">
            <h1 style="color: white" class="h1_span">
              Rewards  
              <span class="tooltip-question" mat-raised-button #tooltip="matTooltip"
                      matTooltip="Reward will be calculated after liquidity event."
                      matTooltipPosition="below"><i class="fas fa-question-circle" style="font-size: 16px;"></i></span> 
              
              :
              {{personalReferralData.referralTokens | number:'1.0-2'}} Grise
            </h1>
          </span>
        </div>
      </div>


     
    </div>

  </div>