.material-icons {
  font-family: "Material Icons" !important;
}
.tab-button {
  background: linear-gradient(89.02deg, #6226d9 0.89%, #8c52ff 100%) !important;
  border-radius: 10px;

  width: 50%;
  padding: 12px;
  font-size: 14px;
  margin: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.imgWidth {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.table-icon {
  font-size: 18px;
  vertical-align: middle;
  margin-right: 8px;
}
.bg-color {
  min-height: 100%;
  max-width: 100%;
  background-color: #3b4148;
  padding: 40px 15px 0;
}
.content {
  @media (max-width: 992px) {
    margin-left: -15px;
  }
}
.landing-image-box {
  width: 100%;
  box-shadow: 0 0 15px 8px #292a29;
  overflow: hidden;
  border-radius: 10px;
  //height: 592px;
  .landing-large-img {
    width: 100%;
    //height: 545px;
  }
  img {
    width: 100%;
    height: 100%;
  }
}
.landing-top-heart {
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  margin-bottom: 5px;
  padding: 10px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    span {
      font-size: 20px;
    }
  }
}
.text-decoration-none {
  text-decoration: none;
}
.ul-boxes {
  display: inline-flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 10px;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
  padding: 10px;
  border: 1px solid rgb(229, 232, 235);
  color: rgb(112, 122, 131);
  margin-bottom: 0;
  box-shadow: 0 0 15px 8px #292a29;
  padding: 0;
  position: relative;
  li {
    list-style: none;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgb(229, 232, 235);
    &:hover {
      transition: all 0.2s ease 0s;
      box-shadow: rgb(4 17 29 / 90%) 0px 0px 15px 5px;
    }
    &:last-child {
      border: none;
    }
    .dropdown {
      width: 100%;
      height: 100%;
      position: unset;
      .dropdown-menu {
        left: unset !important;
        background-color: #3b4148;
        width: 186px;
        margin: 10px 0 0;
        box-shadow: 0 0 15px 8px #292a29;
        &.show {
          right: 0 !important;
          transform: translate3d(0px, 46px, 0px) !important;
        }
        .dropdown-item {
          justify-content: flex-start;
          border-bottom: 1px solid rgb(229, 232, 235);
          padding: 10px;
          span {
            padding-right: 5px;
          }
          &:focus {
            background-color: transparent;
          }
          &:hover {
            background-color: transparent;
          }
          &:last-child {
            border: none;
          }
        }
      }
    }
    a {
      align-items: center;
      justify-content: center;
      display: flex;
      text-decoration: none;
      color: #fff;
      width: 100%;
      height: 100%;
    }
  }
}

.owner-view-favourte {
  color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 17px;
  ul {
    list-style: none;
    display: inline-flex;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0;
    padding-left: 0;
    @media (max-width: 575px) {
      flex-direction: column;
    }
    li {
      display: flex;
      align-items: center;
      margin-right: 8px;
      font-size: 15px;
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
      }
    }
  }
}
.modal-content {
  box-shadow: 0 0 15px 8px #292a29;
  background: #3b4148;
  border-radius: 30px;
  color: #fff;
}
.favourite-model-row {
  border-bottom: 1px solid rgb(229, 232, 235);
  padding: 16px;
  text-decoration: none;
  color: #fff;
  &:last-child {
    border: none;
  }
}

.favourite-model-profile {
  width: 35px;
  height: 35px;
  background-size: cover;
  display: flex;
  background-color: gray;
  border-radius: 50%;
}

.close {
  position: absolute;
  top: 28px;
  right: 23px;
  padding: 0;
  color: #fff;
  opacity: 1;
  font-size: 25px;
  line-height: normal;
}

.modal-header {
  padding: 20px;
}

.land-offer-box {
  width: 100%;
  border: 1px solid rgb(229, 232, 235);
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  text-align: left;
  h5 {
    font-size: 15px;
  }
  .offer-box-inner {
    display: flex;
    align-items: center;
    span {
      font-size: 30px;
      margin-right: 5px;
      img {
        // width: 24px;
        // height: 24px;
        margin-right: 5px;
      }
    }
    .smallfont {
      font-size: 15px;
      color: lightgray;
    }
  }
}

.accordian-style {
  .card {
    margin: 20px 0px;
    border-radius: 10px;
    box-shadow: 0 0 15px 8px #292a29;
    background-color: #3b4148;
    color: #fff;
    &.firstaccrd {
      .card-header {
        h5 {
          button {
            &:before {
              display: none;
            }
          }
        }
      }
      .card-body {
        padding: 30px;
        text-align: left;
      }
    }
    .card-header {
      padding: 0;
      h5 {
        button {
          width: 100%;
          padding: 20px;
          text-align: left;
          position: relative;
          text-decoration: none;
          display: flex;
          align-items: center;
          overflow: hidden;
          border-radius: 10px;
          color: #fff;
          font-size: 15px;
          span {
            margin-right: 10px;
          }
          &:before {
            position: absolute;
            right: 13px;
            top: 50%;
            content: "";
            background-image: url("assets/downicon.svg");
            width: 24px;
            height: 24px;
            transform: translateY(-50%);
          }
          &[aria-expanded="true"] {
            &:before {
              background-image: url("assets/upicon.svg");
            }
          }
        }
      }
    }
    &.tablescroll {
      .card-body {
        max-height: 332px;
        overflow-x: auto;
        .table {
          overflow-y: auto;
          color: #fff;
          @media (max-width: 1100px) {
            width: 1000px;
            max-width: 1000px;
          }
        }
      }
    }
  }
}

.scrollboxes {
  overflow: auto;
}

.tooltipStyle.tooltip .arrow::before {
  display: none !important;
}

.collection-box {
  width: 227px;
  margin: 20px;
  box-shadow: 0 0 15px 8px #292a29;
  background-color: #3b4148;
  border-radius: 20px;
  text-decoration: none;
  transition: all 0.7s ease-in-out;
  color: #fff;
  &:hover {
    box-shadow: 0 0 15px 8px #8c52ff;
    .colorbuy {
      opacity: 1;
    }
  }
  .landing-top-heart {
    padding: 12px;
    border-top: 1px solid #fff;
    margin-bottom: 0;
  }
}

.collection-box-top {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  img {
    max-height: 100%;
    max-width: 100%;
  }
  .buynow-btn {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
    opacity: 0;
    span {
      margin: 0;
      width: 100%;
    }
  }
}
.collection-box-bottom {
  padding: 12px;
  .collection-box-row {
    display: flex;
    justify-content: space-between;

    p {
      margin-bottom: 0;
    }
    .first-p {
      font-weight: 500;
      font-size: 12px;
      display: flex;
      align-items: center;
      color: lightgray;
      span {
        font-size: 14px;
      }
    }
    .second-p {
      font-size: 12px;
      letter-spacing: 0.1px;
      font-weight: 600;
      span {
        margin-right: 5px;
        img {
          width: 14px;
          height: 14px;
        }
      }
    }
    .third-p {
      font-size: 10px;
      span {
        img {
          width: 11px;
          height: 11px;
        }
      }
    }
  }
}

.view-collection-box {
  padding-top: 1.25rem;
}
.colorbuy {
  color: #007bff;
  opacity: 0;
}
.about-details {
  font-size: 11px;
  p {
    margin-bottom: 5px;
  }
  .about-details-img {
    width: 80px;
    height: 80px;
    img {
      max-width: 80px;
      max-height: 80px;
    }
  }
}

.propeties-main {
  display: inline-flex;
  flex-wrap: wrap;
  .propeties-box {
    width: 31%;
    margin: 1%;
    padding: 10px;
    text-align: center;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    .span1 {
      font-size: 11px;
      font-weight: 500;
      text-transform: uppercase;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .span2 {
      font-size: 15px;
      font-weight: 500;
      line-height: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .span3 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 13px;
      line-height: 16px;
      min-height: 16px;
    }
  }
}
.landing-title {
  h1 {
    font-size: 30px;
  }
}

.select-setting {
  width: 219px;

  select {
    height: 50px;
    color: #000;
    border-radius: 10px;
    padding: 5px;
    font-size: 17px;
    color: gray;
  }
}
select::-ms-expand {
  display: none;
}

.svg-setting {
  width: 138px;
  height: 101px;
}

.collection-box {
  .landing-top-heart {
    .material-icons {
      &:hover {
        color: red;
      }
    }
  }
}

.days-icons {
  font-size: 17px;
  vertical-align: middle;
  margin-bottom: 2px;
  margin-left: 2px;
}

a {
  &:hover {
    color: #007bff;
  }
}

.mat-dropdown {
  // box-shadow: 0 0 15px 8px #292a29;
  background-color: #3b4148;
  border: 1px solid;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  padding: 1rem;
  text-align: left;
  color: #fff;
}
::ng-deep .mat-select-value {
  color: #fff !important;
}
::ng-deep .mat-select-placeholder {
  color: #fff !important;
}
::ng-deep .mat-select-arrow {
  color: #fff !important;
}
::ng-deep .multiselect-dropdown {
  padding: 16px;
  .dropdown-btn {
    position: relative;
    color: #fff;
    .dropdown-multiselect__caret {
      &:before {
        border-color: #fff transparent !important;
        border-width: 6px 6px 0 !important;
        top: 55% !important;
      }
    }
  }
  .dropdown-list {
    width: 97% !important;
  }
}

.colorsample {
  color: #007bff;
}

.notallowed {
  cursor: not-allowed;
  opacity: 0.5;
}
.modal-content {
  box-shadow: 0 0 15px 8px #292a29;
  background: #3b4148;
  padding: 20px;
  border-radius: 30px;
  .modal-body {
    padding: 0px;
    .modal-body-inner {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
.mintmodal {
  .modal-dialog {
    max-width: 400px;
    .modal-header {
      margin-bottom: 1rem;
      padding: 1rem 1rem;
    }
    .modal-body-inner {
      justify-content: space-between;
    }
    .modal-footer {
      flex-wrap: nowrap;
      justify-content: center;
    }
    .tab-button {
      min-width: 100px;
      max-width: 100px;
      margin-bottom: 0;
      height: 32px;
    }
  }
}
