<div class="container-fluid bg-color">

    <div class="row content">

        <div class="col-lg-3 tokeninfo-first">
            <div style="display: grid;">

            </div>


        </div>
        <div class="col-lg-12 tokeninfo-second" id="Overview">
            <div class="personal">
                <!-- <img style="width: 250px" src="../../../assets/logo.png"> -->
                <!-- <i class="fas fa-coins"></i> -->
                <!-- <h1 class="personal_title" style="padding-left: 25%;">NFT</h1> -->

            </div>
            <br>
            <br>
            <br>
            <br>
            <br>

            <div style="text-align: center">
                <div class="grise">
                    <br>
                    <br>
                </div>
            </div>
            <div style="text-align: center">
                <div>
                    <h1 style="margin-top: 10%;
                    color: #a9c4a9;
                    font-size: 50px;
                    ">
                        Coming Soon ...
                    </h1>
                </div>
                


        </div>

    </div>
</div>