<div style="background-color: rgb(59, 65, 72);">

  <div class="personal header_div">
    <!-- <img style="width: 250px" src="../../../assets/logo.png"> -->
    <i class="fas fa-gas-pump personal_icon header_icon"></i>
    <label class="personal_title header_title">Gas Refund</label>
  </div>

  <div class="sub-end-part">
    <!-- <div style=" border-bottom: 2px solid grey;margin-bottom: 40px;"></div> -->
    <div class="row maintab">
      <div class="col-xl-6 col-md-12 col-xs-12 tab">

        <h4 style="margin: 30px;text-transform: uppercase;">

          TOTAL BNB AVAILABLE IN GAS REFUND CONTRACT

        </h4>
        <div class="timebox">
          <span class="value">
            <button class="ether">
              <img src="../assets/bnb-black.png" alt="logo" style="height: 30px; width: 30px;">
            </button>
            <span class="digit">{{ refundHistoryData?.sponsoredAmount | number:'1.0-5' }} BNB</span>
          </span>
        </div>
      </div>
      <div class="extra_spc" style="display: none;"></div>
      <div class="col-xl-6 col-md-12 col-xs-12 tab">
        <h4 style=" margin: 30PX; text-transform: uppercase;">

          CURRENT BNB AMOUNT YOU CAN CLAIM

        </h4>
        <div class="timebox">
          <span class="value">
            <button class="ether">
              <img src="../assets/bnb-black.png" alt="logo" style="height: 30px; width: 30px;">
            </button>
            <span class="digit">{{ refundHistoryData?.myRefundAmount | number:'1.0-5' }} BNB</span>
          </span>
        </div>
        <h4 style=" margin: 30PX; text-transform:initial">
          Based on first 200 transactions
        </h4>

      </div>


    </div>
    <!-- <div>hi</div>
          <div style="display: flex; margin-left: 2%; color: floralwhite;">
              <h3 >YOUR TRANSACTIONS</h3>
          </div> -->
    <!-- <h5 "> -->
    <br>
    <br>
    <button type="button" [disabled]="refundHistoryData && refundHistoryData.myRefundAmount > 0 ? null : 'disabled'" class="btn btn-primary tab-button" (click)="claimGasFeeRefund()">Claim
      your Gas Fee Refund</button>
    <!-- </h5> -->

  </div>

</div>