

<button class="w3-button w3-round-xlarge Connect-wallet accNO" *ngIf="!isLogin" (click)="connectWithCardanoWallet()">Connect to Wallet</button>
<div style="" *ngIf="isLogin">
    <div
      class="w3-button w3-round-xlarge Connect-wallet accNO"
    >
      <a
        class="hello w3-button w3-round-xlarge Connect-wallet without-accno" 
        mat-button
        style="padding-left: 0"
        (click)="refetchBalance()"
      >
        <span style="width: 100%">{{ accountNo | formattedAccountNo }}</span>
      </a>
      <span class="truncate" style="width: 30px" (click)="logout()">
        <i class="fas fa-sign-out-alt logout" aria-hidden="true"></i>
      </span>
    </div>
    </div>