<div class="container-fluid bg-color">
  <div class="row content">
    <div class="col-md-12">
      <div class="infoBox_wrapper infoBox-wrapper--first">
        <h1 class="pb-5 headings_info">Features</h1>

        <div class="row">
          <div class="col-md-6 col-lg-4">
            <h1 class="card_main__title">Crypto AI Index</h1>
            <div class="card">
              <div class="card-body bg-card-color">
                <p class="card-text">
                  Our AI index predicts which crypto currencies are most poised
                  to out perform bitcoin, over a period of 1 week, 1 month, and
                  1 year, this purely done based on price movements not on
                  fundamentals. The AI software aggregates data daily and uses
                  past price movement data of all coins along with sentiments
                  over different meida channels to make predictions of coins
                  that are most posied to break out in form of an index.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <h1 class="card_main__title">NFTs</h1>

            <div class="card">
              <div class="card-body bg-card-color">
                <p class="card-text">
                  Grise Token NFts have been underdevelopment and will be
                  launched soon on cardano.Nft holder can get access to our AI
                  products.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <h1 class="card_main__title">NFT AI Index</h1>

            <div class="card">
              <div class="card-body bg-card-color">
                <p class="card-text">
                  Our nft index will start to analyze data on nfts to see which
                  nfts are most poised to break out.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- documentation section -->

    <div class="col-md-12">
      <div class="infoBox_wrapper">
        <h1 class="pb-5 headings_info">Documentation</h1>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <h3 class="card_main__title">Detailed Technical Tokenomics</h3>
            <a
              href="https://bnb-grise-assests.s3.us-west-2.amazonaws.com/assets/GRISETokenTechnicalDocumentUpdated.pdf"
            >
              <img
                class="document_iframe"
                src="https://bnb-grise-assests.s3.us-west-2.amazonaws.com/assets/GRISETokenTechnicalDocumentUpdated.png"
              />
            </a>
          </div>
          <div class="col-lg-3 col-md-6">
            <h3 class="card_main__title">Simplified Tokenomics</h3>

            <a
              href="https://bnb-grise-assests.s3.us-west-2.amazonaws.com/assets/Tokenmoics.pdf"
            >
              <img
                class="document_iframe"
                src="https://bnb-grise-assests.s3.us-west-2.amazonaws.com/assets/Tokenmoics.png"
              />
            </a>
          </div>
          <div class="col-lg-3 col-md-6">
            <h3 class="card_main__title">Grise AI Overview</h3>
            <a
              href="https://bnb-grise-assests.s3.us-west-2.amazonaws.com/assets/AI Overview.pdf"
            >
              <img
                class="document_iframe"
                src="https://bnb-grise-assests.s3.us-west-2.amazonaws.com/assets/AI Overview.png"
              />
            </a>
          </div>
          <div class="col-lg-3 col-md-6">
            <h3 class="card_main__title">Audit Report</h3>

            <a
              href="https://bnb-grise-assests.s3.us-west-2.amazonaws.com/assets/Audit_Report.pdf"
            >
              <img
                class="document_iframe"
                src="https://bnb-grise-assests.s3.us-west-2.amazonaws.com/assets/Audit_Report.png"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- introduction video -->
    <div class="col-md-12">
      <div class="infoBox_wrapper">
        <h1 class="pb-5 headings_info">GRISE Token on BSC</h1>

        <video class="info_video" controls loop>
          <source
            src="https://bnb-grise-assests.s3.us-west-2.amazonaws.com/assets/Grise_Explainer_Video.mp4"
            type="video/mp4"
          />
        </video>
      </div>
    </div>
  </div>
</div>
